# vim files
*.swp
*.swo

# MacOS files
*.DS_Store

# Compiled Python files
*.pyc

# Latex Compilation Files
*.log
*.aux

# Document Files
*.pdf
*.doc
*.docx
*.xls
*.xlsx

# Image Files
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
